@font-face {
  font-family: 'Yeseva One';
  src: url(../fonts/yeseva-regular.ttf);
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1600px;
}
    
.header-section  {
  color: #fff;
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding-left: 175px;
  padding-right: 175px;
}

.header-title {
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 36px;
  text-transform: uppercase;
}

.menu-bar,
.socials {
  align-items: center;
  display: flex;
  list-style: none;
}

.nav-bar {
  display: flex;
}

.social-image {
  height: 23px;
  width: 23px;
}

.menu-item {
  font-size: 21px;
  padding: 45px 30px; 
  text-transform: capitalize;
}
